@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Material Icons fix */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  display: inline-block;
  line-height: 1;
  user-select: none;
}

.bg-horbax-gradient {
  background: linear-gradient(135deg, #006591 0%, #0ea5e9 100%);
}